main {
  font-family: Roboto;
  display: grid;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
  grid-gap: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  height: 100%;
  background-color: #C4C4C4;
  font-size: 24px;
}
header span {
  position: relative;
  top: -4px;
}

.boxWithText {
  position: relative;
}
.boxWithText .text {
  position: absolute;
  bottom: 16px;
  left: 18px;
}

.grid-layout-1 {
  font-size: 13px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 241px 241px;
  grid-gap: 10px;
  margin: 0px 13px;
}
.grid-layout-1 > div {
  padding: 26px;
  color: #fff;
  background-color: #A2A9B7;
}
.grid-layout-1 .box1 {
  font-size: 19px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}
.grid-layout-2 {
  display: grid;
  grid-template-areas: "item-1 item-3";
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin: 0px 13px;
}
.grid-inner-1, .grid-inner-3 {
  display: grid;
  grid-gap: 10px;
}
.grid-inner-1 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 155px 155px;
}
.grid-inner-1 .box2 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 2;
}
.grid-inner-3 {
  grid-template-columns: 1fr;
  grid-template-rows: 155px 155px;
}
.grid-item {
  padding: 1rem;
  font-size: 14px;
  color: #000000;
  background-color: #E8EBED;
}

#item-1 {
  grid-area: item-1;
}

#item-3 {
  grid-area: item-3;
}

#item-31 {
  background-color: #90BCE8;
}

#item-32 {
  background-color: #FEBF26;
}

@media all and (max-width: 480px) {
  .grid-layout-1 {
    order: 2;
  }

  .grid-layout-2 {
    order: 1;
    grid-template-areas: "item-1" "item-3";
    grid-template-columns: 1fr;
    margin: 0px;
  }

  .grid-inner-3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 155px;
  }

  .grid-layout-1 {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 102px 102px;
    margin: 0px;
  }
  .grid-layout-1 .box1 {
    overflow-y: auto;
    padding: 18px 12px;
    line-height: 1.3;
  }
}
